
body {
  background-color: #9386b1;
  font-family: 'Noto Serif KR', serif;
  overflow-x: hidden;
  touch-action: pan-y;
}

nav{
  display:flex;
  flex-direction: column;
  background-color: #fff;
  opacity: 0.4; 
  margin:2% 1%;
}

nav ul{
  justify-content: space-around;
  text-align: center;
  padding: 3px;
  margin:10px;

}
nav li {
  font-family: 'Noto Serif KR', serif;
  font-weight: 700;
  list-style: none;
  flex:1;
}

nav a:visited{
  color: #000;
}
nav a:hover{
  color: #9386b1;
}

.menu-toggle-btn{
  display:none;
}

.background{
  width:100%;
}

a{
  text-decoration: none;
  color:#D80E39;
}

a:visited{
  color:#D1113D;
}


.middle {
  display:block; 
  margin: 5%;
  text-align: center;
}

#coverText{
  text-decoration: none;
  display: inline-block;
}

@media (min-width:700px) {
  nav ul{
    display: flex;
  }
  .background{
    filter:blur(0);
  }
  .middle{
    filter:blur(0);
  }
  
}

@media (max-width:700px){
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav{
    display:none;
    flex-direction: row;
    padding:5% 0;
    width:90%;
    height:100%;
    position: absolute;   
    z-index:1;
    top:0;
    
  }
  nav ul{
    display: flex;
    height:95%;
    flex-direction: column;
    opacity: 0.9;
    flex:1;
  }
  nav ul li{
    font-size: larger;
    font-weight: 1000;
  }
  .menu-toggle-btn{
    display: block;
    position: absolute;
    opacity: 0.7;
    right:0;
    z-index: 2;
  } 
  
  .background{
    width:180%;
  }
}
@media (min-width:1050px){
  body{
    background-size:80%;
  }
   nav{
     margin: 1% 10%;
   }
   .background{
     width:60%;
     margin: 0 20%;
   }

}
@media (min-width:1050px){
  body{
    background-size:80%;
  }
  #coverText{
    margin-top: 380%;
   }

}

#coverText:hover{
  background : none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  margin: 10px;
  height: 2px;
  background:#fff;
  animation: 3s slidein infinite;
}

@keyframes slidein{
  0%{
    transform : scaleX(0);
  }
  100%{
    transform:scaleX(1);
  }
}

@keyframes changeColor{
    0% {
      color:black;
    }50%{
      color:#B6DBE6;
    }100%{
      color:black;
    }
}
