
body {
  background-color: #988CB3;
  background-position:center top;
  background-image: url("./img/bylac.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
  color:#D80E39;
}
a:visited{
  color:#D1113D;
}
/* a:focus{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
} */

.middle {
  display:block;
  position: absolute;
  top:50%; left:50%;
  transform: translate(-50%, -60%);
  text-align: center;
}

#coverText{
  font-family: 'Noto Serif KR', serif;
  margin-top: 300%;
  text-decoration: none;
  display: inline-block;
  padding:15px 0;
  position: relative;
}
@media (max-width:700px){
  #coverText{
   margin-top: 180%;
  }
}
@media (min-width:1050px){
  body{
    background-size:80%;
  }
  #coverText{
    margin-top: 380%;
   }

}

#coverText:after{
  background : none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left:50%;
  position: absolute;
  background:#fff;
  animation: 3s slidein infinite;
}

#coverText:hover:after {
  width:100%;
  left:0;
}

@keyframes slidein{
  0%{
    transform : scaleX(0);
  }
  100%{
    transform:scaleX(1);
  }
}

@keyframes changeColor{
    0% {
      color:black;
    }50%{
      color:#B6DBE6;
    }100%{
      color:black;
    }
}
